.menu {
    margin: 0.5rem 0;
}
.navigation {
    align-content: center;
    width: 35rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}
.button {
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 0 40px;
    border: none;
}
.button:hover {
    background-color: #ff9c4a;
    color: #EEE;
}