.app {
  display: flex;
  justify-content: center;
  width: 65rem;
  }
  #logo {
      display: block;
     align-items: center;
     text-align: center;
      
  }
  #menu-bar {
      align-items: center;
    
  }
